.intro {
  font-family: $headings-font-family;

  .lead {
    margin: 5px 5px 10px;
    font-weight: normal;
  }

  .-mascot {
    text-align: center;

    img {
      height: 250px;
      width: auto;
    }
  }

  .-features {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 16px;
  }

  .-centre {
    text-align: center;
  }
}

