#queue {
  margin-top: 10px;

  .queue_entry {
    border: none;
    padding: 5px 15px;
    position: relative;

    .btn-group {
      margin: 5px 0;
    }

    .qe_title {
      margin-left: 5px;
      font-size: 15px;
      max-width: 400px;
    }

    border-bottom: 1px solid $text-muted;
  }
}