extends layout

block content
  section#mainpage
    .container
      .col-lg-9.col-md-9
        .intro.row
          .col-md-4.-mascot
            img(src='/img/viridian-meadows.png')
          .col-md-8
            h1 Welcome to <strong>Equestria.tv</strong>!
            h2.lead The video sharing site for ponies.
            ul.-features
              li Share music and videos in real-time
              li Chat with fellow viewers
              li Create your own rooms, complete with 24/7 playlists

            if loggedIn
              hr
              p.-centre.lead Join a channel below, or <a href="/account/channels">create your own</a>!
            else
              a.callToAction(href="/login") Join now!

        h3 Public Channels
        table.table.table-striped
          thead
            th Channel
            th Now Playing
          tbody
            unless channels.length
              tr
                td(colspan=3) No channels are active right now. Why not <a href="/account/channels">start your own</a>?
            else
              each chan in channels
                tr
                  td: a(href="/r/#{chan.name}") #{chan.page_title}
                  td= chan.currently_playing_title
      .col-lg-3.col-md-3
        h3 Enter Channel
        input#channelname.form-control(type="text", placeholder="Channel Name")
        p.text-muted New channels can be registered from the <a href="/account/channels">My Channels</a> page.

append footer
  script(type="text/javascript").
    $("#channelname").keydown(function (ev) {
      if (ev.keyCode === 13) {
        location.href = "/r/" + $("#channelname").val();
      }
    });