doctype html
html(lang="en")
  head
    block head
      include head
      mixin head()
      <script src="//use.typekit.net/#{typekit}.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>
  body
    nav.navbar.navbar-default(role="navigation")
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#nav-collapsible")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            img.logo(src="/img/logo.svg")
        #nav-collapsible.collapse.navbar-collapse
          include nav

          block nav-left
            ul.nav.navbar-nav
              block nav-left-links
                mixin navdefaultlinks(currentUrl)

          block nav-right
            mixin navloginlogout(currentUrl)

    .header

    #wrap
      block content

    block footer
      include footer
      mixin footer()